.title {
  text-align: center;
}

#footer a:link {
  color: black;
}

#footer a:visited {
  color: black;
}

#footer a:hover {
  color: #1d64f0;
}

body {
  background: #fff;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  /*optional background or border*/
  margin-top: 4%;
  width: 530px;
  height: 500px;
  border-radius: 20%;
  background: linear-gradient(to top, #1d64f0 0%, #19d6fd 100%);
}

.circle {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 80%;
  height: 80%;
  background: none;
  border-radius: 50%;
  border: solid 20px #fff;
  animation: circleRotate 3s 2;
}

.horizantal-line-left {
  position: absolute;
  top: 46%;
  left: 20%;
  width: 10%;
  height: 8%;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  animation: line 3s 1;
}

.horizantal-line-middle {
  position: absolute;
  top: 46%;
  left: 38.1%;
  width: 22%;
  height: 8%;
  background: #fff;
  -webkit-clip-path: polygon(13% 0, 93% 0, 100% 100%, 0% 100%);
  clip-path: polygon(13% 0, 87% 0, 100% 100%, 0% 100%);
}

.horizantal-line-right {
  position: absolute;
  top: 46%;
  right: 21.7%;
  width: 10%;
  height: 8%;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 23% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%);
  animation: line 3s 1;
}

.pencil-middle {
  position: absolute;
  top: 40%;
  left: 18.7%;
  width: 35%;
  height: 8%;
  background: #fff;
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.pencil-top {
  position: absolute;
  top: 17%;
  left: 40%;
  width: 8%;
  height: 8%;
  background: #fff;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  animation: pencilTop 3s 1;
}

.pencil-bottom {
  position: absolute;
  top: 62.5%;
  left: 23.7%;
  width: 8%;
  height: 12%;
  background: #fff;
  -ms-transform: rotate(21deg);
  -webkit-transform: rotate(21deg);
  transform: rotate(21deg);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  animation: pencil 3s 1;
}

.brush-top {
  position: absolute;
  top: 30%;
  right: 19%;
  width: 45%;
  height: 8%;
  background: #fff;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  animation: brushBottom 3s 1;
}

.brush-middle {
  position: absolute;
  top: 58%;
  right: 28%;
  width: 8%;
  height: 8%;
  background: #fff;
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  animation: brush 3s 1;
}

.brush-bottom {
  position: absolute;
  top: 68.5%;
  right: 22.8%;
  width: 11%;
  height: 8%;
  background: #fff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  animation: brush 3s 1;
}

@keyframes brush {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  50% {
    background: none;
  }
  100% {
    transform: rotate(430deg);
  }
}
@keyframes pencil {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  50% {
    background: none;
  }
  100% {
    transform: rotate(381deg);
  }
}
@keyframes pencilTop {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  50% {
    background: none;
  }
  100% {
    transform: rotate(290deg);
  }
}
@keyframes line {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  50% {
    background: none;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-color: #19d6fd;
    transform: scale(1.1);
    border-radius: 20%;
  }
  100% {
    transform: rotate(360deg);
  }
}